body {
  background-color: olive;
  font-family: 'Courier New', Courier, monospace;
}

header {
  font-size: 5vw;
}

main {
  font-size: 15vw;
  padding: 10vw;
}


thead{
  font-size: 5vw;
  color: darkolivegreen;
  padding: 3vw; 
  text-align: center; 
  
}

tbody{
  font-size: 5vw;
  color: tan;
  padding: 3vw;  
  text-align: right;
}

tfoot{
  font-size: 5vw;
  color: goldenrod;
  padding: 3vw;
  text-align: right;
  }

th {
  /* font-size: 5vw;
  color: tan; */
  padding: 1vw;  
}

/* td {
  font-size: 5vw;
  color: tan;
  padding: 3vw;  
} */

/* footer {
  font-size: 5vw;
} */

h1 {
  font-size: 10vw;
  color: darkolivegreen;
}

h2{
  font-size: 7vw;
  padding: 5vw;
}

ol {
  margin-left: 15vw;
  list-style-type: decimal-leading-zero;
  /* list-style-position: outside; */
}

/* ul {
  margin-left: 7vw;
  list-style-type:disc;
  padding: 5vw;
  
}

li {
  font-size: 5vw;
  color: tan;
  padding: 1vw;
  } */

/* p {
  font-size: 5vw;
  color: tan;
  padding: 5vw;  
} */
