body {
  background-color: olive;
  font-family: 'Courier New', Courier, monospace;
}

header {
  font-size: 5vw;
}

main {
  font-size: 15vw;
  padding: 10vw;
}


thead{
  font-size: 5vw;
  color: darkolivegreen;
  padding: 3vw; 
  text-align: center; 
  
}

tbody{
  font-size: 5vw;
  color: tan;
  padding: 3vw;  
  text-align: right;
}

tfoot{
  font-size: 5vw;
  color: goldenrod;
  padding: 3vw;
  text-align: right;
  }

th {
  /* font-size: 5vw;
  color: tan; */
  padding: 1vw;  
}

/* td {
  font-size: 5vw;
  color: tan;
  padding: 3vw;  
} */

/* footer {
  font-size: 5vw;
} */

h1 {
  font-size: 10vw;
  color: darkolivegreen;
}

h2{
  font-size: 7vw;
  padding: 5vw;
}

h3{
  font-size: 7vw;
  padding: 5vw;
}

ol {
  margin-left: 15vw;
  list-style-type: decimal-leading-zero;
  /* list-style-position: outside; */
}

 ul {
  margin-left: 7vw;
  list-style-type:disc;
  padding: 2vw;
  }

  li {
    font-size: 5vw;
    color: darkolivegreen;
    padding: 1vw;
    }

p {
  font-size: 5vw;
  color: tan;
  padding: 2vw;  
}

legend{
  font-size: 7vw;
  padding: 5vw;
}

label{
  font-size: 5vw;
  color: darkolivegreen;
  padding: 3vw; 
  text-align: center; 
  }

input{
display: flex;
margin-left: 7vw;
padding: 2vw;
width: 30vw
}

input:hover{
  background-color: tan;
}

button{
  margin-left: 9vw;
padding: 2vw;
width: 30vw;
margin-bottom: 10vw;
}

button:hover{
  background-color: tan;
}